
.arrayOutline {
    background:  #e0d4d4;
    padding: 0 1em;
    border-radius: 2em;
  }
  
.container {
    display: flex;
    justify-self: center;
    align-items: center;
    height: 250px;
    margin: 5em 0; /* Space left from the top */
}

.array-bar {
    /* Spaces between each bar */
    margin: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  