.bar {
    /* Radius order: top, right, bottom, left */
    border-radius: 5px 5px 0 0;
    /* More bars can accommodate with lesser width */
    width: 25px;
    margin: 10px; /* Spaces between each bar */
    margin-right: 10px;
  }

.textHeight {
    border: none;
    background: transparent;
    position: relative;
    text-align: center;
    /* Rotates the text of the bar height */
    transform: rotate(-90deg);
    outline: none;
  }