
.arrayOutline {
    background: #818181;
    padding: 0 1em;
    /* display: flex;
    justify-content: center;
    align-self: center; 
    position: absolute;
    left: 100px;
    Position from the left where the bar begins 
    top: 100px; */
  }
  
.container {
    display: flex;
    justify-self: center;
    align-items: center;
    height: 200px;
    margin: 5em 0;
}

.array-bar {
    /* Spaces between each bar */
    margin: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  