/* card-container in the video */
.arrayOutline {
    background: #818181;
    padding: 0 1em;
    /*display: flex;
    justify-content: center;
    align-self: center; 
    position: absolute;
    left: 100px;
    Position from the left where the bar begins 
    top: 100px; */
  }
  
.container {
    display: flex;
    justify-self: center;
    align-items: center;
    height: 200px;
    margin: 5em 0;
}

/* Frame in the video */
.array-bar {
    /* the lesser the width more bars can accommodate */
   /* width: 2px;
    background-color: pink;*/
    margin: 0; /* margins/spaces between each bar */
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: inline; */
    
  }
  
  
  